<!DOCTYPE html>
<html lang="es">
<!-- Llamamos al componente head -->
<%- include('../../components/head') %>
<body>
    <!-- Llamamos al componente header -->
    <%- include('../../components/header') %>

    <main>
        <h1>Contenido de la pagina CONTACTENOS</h1>
    </main>

    <!-- Llamamos al componente footer -->
    <%- include('../../components/footer') %>

</body>
</html>