<!DOCTYPE html>
<html lang="es">
<!-- Llamamos al componente head -->
<%- include('components/head') %>

<body>
    <!-- Llamamos al componente header -->
    <%- include('components/header') %>
    
    <main>
        <section id="productos">
            <!-- Aquí irán los productos -->
        </section>
    </main>
    
    <!-- Llamamos al componente footer -->
    <%- include('./components/footer') %>

    <script src="js/products-script.js"></script>
</body>
</html>
