/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000; /* Aparece por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.modal-options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: solid 1px #468605;
    border-radius: 5px;
    background-color: #fff;
    color: #468605;
}

.modal-options button:hover,
.modal-options button._active {
    background-color: #468605;
    color: #ddd;
}

.modal-options button:active{
    background-color: #194202;
    color: #ddd;
}



.modal-form {
    display: none; /* Ocultos inicialmente */
}

.modal-form h2 {
    margin-bottom: 10px;
}

.modal-form input { /*55555555*/
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.modal-form button {
    padding: 10px 20px;
    background-color: #468605;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-form p a {
    color: #468605;
    text-decoration: none;
}

.itemsForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.checkbox-container input{
    width: auto;
    margin: 0;
}

.container-toggle-password{
    position: relative;
    width: 100%;
        
}

.container-toggle-password .togglePassword, 
.container-toggle-password .register-password,
.container-toggle-password .confirm-register-password {
    display: inline-block;
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    top: 20px;
    background-image: url('../images/eye-open.svg');
    background-size: contain;
    cursor: pointer;
}

.container-toggle-password .togglePassword._show,
.container-toggle-password .register-password._show,
.container-toggle-password .confirm-register-password._show  {
    background-image: url('../images/eye-closed.svg');
}