@import url("header-style.css");
@import url("products-style.css");
@import url("footer-style.css");
@import url("button-header-style.css");
@import url("modal-style.css");

/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

a {
    text-decoration: none;
    color: inherit;
  }